*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container 
{
    width: 80%;
    margin: auto;
}

ul, ol 
{
    list-style-type: none;
}

a 
{
    text-decoration: none;
}

.row 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav 
{
    box-shadow: 3px 3px 10px #00000020;
    padding: 20px 0;
    position: relative;
}

nav ul li a 
{
   padding: 0 10px;
   font-size: 18px;
   font-family: "Poppins", sans-serif;
   color: #000;
}

nav ul li 
{
    display: inline-block;
}

nav .bar 
{
    display: none;
}

nav .box
{
    background: #777;
   
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    overflow: hidden;
}

nav .box.hide 
{
     visibility: hidden;
     opacity: 0;
    width: 0%;
}

nav .box.active 
{
     visibility: visible;
     opacity: 1;
     width: 80%;
}

/* nav .lists 
{
    display: flex;
    justify-content: space-between;
} */

nav .menu-box {
    transition: opacity 0.3s ease;
    opacity: 1;
}

nav .box.hide .menu-box {
    opacity: 0;
}



nav .box .cross-btn
{
    text-align: right;
    padding: 15px 15px 0 0;
    
}


nav .box .cross-btn .cross 
{
    display: inline-block;
}

nav .menu-box
{
    padding-top: 20px ;
    padding-bottom: 20px;
}

nav .menu-box li 
{
    display: flex;
    flex-direction: column;
    padding: 15px ;

    text-align: center;
}